<!DOCTYPE html>
<html lang="en">
<body id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <a class="navbar-brand" href="/home">Smart Energy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/client/devices">Check for my devices</a></li>
        <li class="nav-item"><a class="nav-link" href="/client/charts">Check for my charts</a></li>
        <li class="nav-item"><a class="nav-link" href="/chat">Chat with an admin</a></li>
        <li class="nav-item"><a (click)="logout()" class="nav-link" href="home">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-0">Client Management</h1>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<section id="scroll">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/img4.jpg" alt="..."/></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Welcome back! </h2>
          <p> At Smart Energy, we're committed to putting the power of energy management in your hands.
            Our mission is to empower you, our valued clients, to make informed choices about your energy
            consumption.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="py-5 bg-black">
  <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; Energy Management System
    2023</p></div>
</footer>
</body>
</html>
