<!DOCTYPE html>
<html lang="en">
<body id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container px-5">
        <a class="navbar-brand" href="/home">Smart Energy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">Energy Management System</h1>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/img4.jpg" alt="..."/></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">About us</h2>
                    <p>Welcome to the future of smart and efficient energy management for your home! In today's digital
                        age,
                        where technology touches every aspect of our lives, managing your home's energy consumption has
                        never
                        been easier. Our Home Energy Management System (HEMS) is your key to optimizing
                        your
                        household's energy usage, reducing costs, and contributing to a more sustainable future.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/img2.jpg" alt="..."/></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <p>Our webpage provides you with a seamless and secure interface to
                        monitor your energy consumption remotely. Whether you're at home or on the go, you'll have
                        the tools at
                        your fingertips to take control of your energy destiny.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/img3.jpg" alt="..."/></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <p>Explore our website to learn how our Home Energy Management System can transform your home into a
                        smart,
                        energy-efficient retreat. Join us in the journey toward a more sustainable and connected future,
                        where managing your energy consumption is not just a convenience but a conscious choice that
                        benefits you. Let's team up to make your home a shining example of energy efficiency and
                        eco-friendliness in the world of energy management.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="py-5 bg-black">
    <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; Energy Management System
        2023</p></div>
</footer>
</body>
</html>
