<!DOCTYPE html>
<html lang="en">
<body>
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container px-5">
        <a class="navbar-brand" href="/home">Smart Energy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
    </div>
</nav>

<div style="margin-top: 60px" class="container col-md-6">
    <h1 style="color: #568203">User registration</h1>
    <form (ngSubmit)="register()">
        <div class="mb-3">
            <div class="myDIV">Name</div>
            <div class="hide">Name is mandatory!</div>
            <input type="text" [(ngModel)]="user.name" class="form-control" id="name" name="name" placeholder="name">
        </div>
        <div class="mb-3">
            <div class="myDIV">Username</div>
            <div class="hide">Email must represent this format [email]@[app].[domain]!</div>
            <input type="email" [(ngModel)]="user.username" class="form-control" id="username" name="username"
                   placeholder="username">
        </div>
        <div class="mb-3">
            <div class="myDIV">Password</div>
            <div class="hide">Password should contain: at least 7 characters, at least 1 upper case, at least 1 lower
                case,
                at least 1 special character!
            </div>
            <input type="password" [(ngModel)]="user.password" class="form-control" id="password" name="password"
                   placeholder="password">
        </div>
        <button type="submit" class="btn btn-success">Complete registration</button>
    </form>
</div>
</body>
</html>
